.leadbud-menu{
    display: none
}
.leadbud:hover{
    .leadbud-menu{
        display: grid;
    }
}
.solution-menu{
    display: none;
}
.solution:hover{
    .solution-menu{
        display: grid;
        transform:.9s all;
    }
}