.leadbud-submenu{
    display: none
}
.leadbud-hov:hover{
    .leadbud-submenu{
        display: flex;
        flex-direction: column
    }
}
.solution-menu{
    display: none;
}
.solution:hover{
    .solution-menu{
        display: grid;
        transform:.9s all;
    }
}