@tailwind base;
@tailwind components;
*{
    font-family: "Poppins", sans-serif;
}
.loaderclass{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
    width: 100%;
}
.salesai{
    display: flex;
    flex-direction: row;
    max-height: calc(100vh - 70px);
}
.statetooltip-text{
    display: none;
}
.state-tooltop:hover{
   .statetooltip-text{
    display: flex;
    
   }
}
.reasontooltip-text{
    display: none;
}
.reason-tooltip:hover{
   .reasontooltip-text{
    display: flex;

   }
}

@media (max-width:640px){
    .salesai{
        display: flex;
        flex-direction: row;
        max-height:auto;
    }
}
@tailwind utilities;