@tailwind base;
@tailwind components;
*{
    font-family: "Poppins", sans-serif;
}
.leadbud-submenu{
    display: none
}
.leadbud-hov:hover{
    .leadbud-submenu{
        display: flex;
        flex-direction: column
    }
}
.salesai{
    display: flex;
    flex-direction: row;
    max-height: calc(100vh - 70px);
}
@media (max-width:640px){
    .salesai{
        display: flex;
        flex-direction: row;
        max-height:auto;
    }
}
@tailwind utilities;